<%= form_tag("/exhibits/#{@exhibit.id}/patrons", method: "post") %>
<p>Patron Name:</p>
  <input type="text" name="name" id="name"></input>

  <p>Paid:<input type="checkbox" name="paid" id="paid"></input><p>

  <p>Age:</p>
  <input type="number" name="age" id="age"></input><br><br>

  <input type="submit" value="Create Patron" id="create"></input>
