<h1>All Patrons</h1>
<a href="/patrons/new">New Patron</a>

<% @patrons.each do |patron| %>
    <h3>name:<%= link_to patron.name, "/patrons/#{patron.id}" %> </h3>
      <p> Age: <%= patron.age %></p>
      <p> Paid: <%= patron.paid %></p>
<% end %>
