<h1>Welcome to Relational Rails</h1>

<ul>
  <li><a href="/exhibits">Exhibit Index</a></li>
patrons_new
  <li><a href="/patrons">Patrons Index</a></li>
  <li><a href="/exhibits/new">New Exhibit</a></li><br>
  <li><a href="/museums">Museum Index</a></li><br>
  <li><a href="/artifacts">Artifact Index</a></li>
</ul>
