<%= link_to "Artifact Index", "/artifacts", method: :get %>
<%= link_to "Museum Index", "/museums", method: :get %>

<form action="/museums/<%= @museum.id %>/artifacts" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <p>Add artifact to collection:</p>
  <label for="name">Artifact Name:</label><br>
  <input type='text' id='name' name='artifact[name]'/><br/>
  <p>Artifact rare status:</p>
  <input type="hidden" name="artifact[rare]" value="false">
  <input type="checkbox" name="artifact[rare]" value="true"><br>
  <label for="age">Artifact Age:</label><br>
  <input type="number" id="age" name="artifact[age]" value=1><br>
  <input type='submit' value="Create Artifact"/>
</form>
