<form action="/artifacts/<%= @artifact.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="PATCH" />
  <p>Edit</p>
  <h3>Name:</h3>
  <input type='text' name='artifact[name]' value="<%= @artifact.name %>"/><br/>
  <h3>Rare?</h3>
  <input type="hidden" name="artifact[rare]" value="false">
  <input type="checkbox" name="artifact[rare]" value="true"><br>
  <h3>Age:</h3>
  <input type="number" name="artifact[age]" value="<%= @artifact.age %>">
  <input type='submit' value="Update Artifact"/>
</form>
